aws_region    = "ap-southeast-2"
instance_type = "t3.micro"
key_name      = "devops-key"
public_key    = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDCyG7hlxgyp/yKshyMemv3camg0NzktdKz/23vEqTMYDVCjwERF0cg3HZVi2Qgqya+aUAwm5i+ApAyIQvyDp+n9Ny9p11mFFaaFzptYyjGk2FKgKY8oxpyPtZM9Qy3Dhl0fhSFU02EfuBBXojSUsMf+fGXVCSNwrMLOg/yNftX2jNy4wKGeT8LOvhCkSs90yeI1Hx80tYeThki6hMOeSqEhrjFWT77RCBaej3J3YSFHJaD/HL5Qt7peSsgt2TwvR2GbP0gNIdsrW06QygJd6GSfeC2wsiG/p22VpDnWt4uK1CUCqdwmktjeut0eQw83xVml4SFXow54fv1X6EFO2yT7Qeuv/Y6AqJd7Py+RXbiHN0kI7oqeCg2XOtTzUmDKgBKWeEbA+AJgBTxqgki8eaYJeudICbzQfjdfmO+RMtQne/vCg+ax1uxJyl78xLWu/ldfao8DvAJENksbM3eY1WoDRYuZHfcIKn7tsPLiLZhayJ/8uKBTBrU1CEjhtTEC52sNMlMaUjAcdWw+0bsc0trmf+Re5WDjcgULi9VPA27iXIu0oUC6lvl4aMOr1EpDbFazixzjBzn1OtXo6PvhEzDeBdZBwAlx++Lzu6VKE/JKXi2lhzFf40Q2XCASBf+u901Cf5npelje2sPKcm7nWeJnyARMi1zG5HRZ5bUked5fQ== ravi@DESKTOP-5G3F29G"